body {
    font-family: helvetica;
    font-size: 15px;
}

input[type='text'] {
    font-size: 15px;
	width: 50%;
	padding: 0.5%;
}

.reset_hint {
	margin-left: 1%;
}

.highlight1 { 
	background-color: cyan; 
}

table {
    border-collapse: collapse;
}

tr {
    text-align: left;
}

th {
    color: #D5DDE5;
    background: #1b1e24;
    padding: 6px;
    font-weight: normal;
}

td {
    padding: 6px;
}