body {
    font-family: 'Segoe UI';
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.search_box {
    font-family: 'Segoe UI';
    font-size: 15px;
	width: 70%;
	padding: 0.5%;
}

.reset_hint {
    margin-left: 2%;
}

.highlight1 { 
	background-color: cyan; 
}

.table {
    border-collapse: collapse;
}

.table tr {
    text-align: left;
    /*background-color: lightcyan;*/
}

.table th {
    color: #FFFFFF;
    background: #1b1e24;
    padding: 6px;
    font-weight: normal;
}

.table tr td {
    padding: 6px;
}